.content-box{
    border: 1px solid black;
    /* border-radius: 40px; */
    /* width: 70%; */
}

.top-head{
    height: 40px;
    background-color: lightgray;
}

.mark-down img{
    width: 100%;
}

.open-span{
    background-color: rgb(0, 163, 0);
    border-radius: 30px;
    padding: 10px;
    color: white;
    fill: currentColor;
    
}