.user-input{
    width: 500px;

}
.avatar-img{
    width: 100px;
    border-radius: 50%;
    margin: 20px;
}
.media-body{
    margin: 20px;
}

/* .login{
    background-color: lightgray;
}

.id{
    background-color: lightgray;
} */